# These owners will be the default owners for everything in Greenstash
*                               @starry-shivam

# Dot-files are handled by the lead dev (.gitignore and co)
.*                              @starry-shivam